# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Virtual envs
.venv/
env/
venv/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/



# Streamlit
.streamlit/

# Jupyter (se aparecer)
.ipynb_checkpoints/
